<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="i,g-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group" role="group" aria-label="Button group">
      <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" href="#">To Shopping list</a></li>
        <li><a class="dropdown-item" href="#">Edit recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div>{{ recipe.description }}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div>Ingredients</div>
  </div>
</div>
